.main {
  position: relative;
}

.tech-stacks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: var(--bg-dark);

  position: relative;

  * {
    background-color: unset;
  }

  .tech-stack-list {
    display: flex;

    i {
      font-size: 2rem;
      margin-right: 0.5rem;
    }
  }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-overflow: clip;

  .content {
    width: calc(100% - 8rem);
    h1 {
      line-height: 0.5rem;
    }
  }

  h1 {
    color: var(--pink);
  }

  h2 {
    color: var(--purple);
  }
}

.page-box {
  min-height: 100vh;
  width: 100%;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  .content {
    max-width: calc(100% - 4rem);

    .title {
      color: var(--pink);
    }
  }
}

.projects-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .list {
    font-size: 1.5rem;
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    .title {
      color: var(--purple);
    }

    .status-line {
      color: var(--green);
      margin-right: 1rem;
    }
  }

  .title {
    color: var(--pink);
    font-size: 2rem;
  }
}

.social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  a[href] {
    color: var(--purple);
    font-size: 1.5rem;
  }
}

@media (orientation: landscape) {
  .about-me {
    .side {
      width: calc(50% - 4rem);
    }
  }
}
